#settings{
    position:fixed;
    right:0px;
    bottom:0px;
    width:20vw;
    text-align:right;
    justify-content: right;
    background-color: #0002;
}
.setting_button{
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.267);
}

#logout{
    background-color:#0000;
    color: rgb(173, 0, 0);
    border:none;
    border-radius: 10px;
}
#theme{
    background-color:#0000;
    border:none;
    border-radius: 10px;
}
#autoscroll{
    background-color:#0000;
    border:none;
    border-radius: 10px;
}

.message_content{
    margin-left:3em;
}

.part{
    text-align: right;
    margin-right:10px;
}

#participants{
    background-color:#1d1d1d;
    position:fixed;
    border-radius:10px;
    right:0px;
    top:0px;
    width:20vw;
    height:100vh;
    text-align: right;
}





.samuel{
    color:rgb(111, 0, 255);
}

.chamois{
    color:rgb(111, 0, 255);
}

.jasmine{
    color:darkcyan;
}

.calvin{
    color:chocolate;
}

.bingee11{
    color:chocolate;
}

.chaos{
    color:cadetblue;
}

.crys{
    color:green;
}