
body{
    color:#111;
    background-color:#FFF;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h6{
    display:inline;
    color:#111
}
h5{
    display:inline;
}
.hidden{
    display:none !important;
}
.username{
    margin-left: 1vw;
    display:inline;
    margin-bottom: none;
}
.timestamp{
    display:inline;
    margin-bottom: none;
}
.message{
    display:block;
    margin-top:none;
    margin-left:3vw;
    word-wrap: break-word;
}

#login{
    text-align: center;
}

input{
    color:#111;
    background-color:#CCC;
    border-color:#0000;
    outline:none;
    width:40vw;
    margin-left:30vw;
    padding:1em;
    border-radius:10px;
    margin-top:1vh;
    display:block;
}

#login_button{
    display:inline;
    background-color: #006e12;
    margin-top: 3vh;
    margin-left:35vw;
    border-radius: 15px;
    border:none;
    width:10vw;
    color:#212121;
}
#register{
    color:#1a1a1a
}
a{
    color:#33D;
}
#text{
    overflow:hidden;
}
#messages{
    height:85vh;
    position:fixed;
    top:0px;
    right:-17px;
    width:80vw;
    overflow-y:scroll;
    text-align:left;
    padding-right: calc(17px + 20vw); /* Increase/decrease this value for cross-browser compatibility */
}

#input{
    font-size: large;
    padding:none;
    margin-left:-1vw;;
    width:77.5vw;
    position: fixed;
    left:2vw;
    bottom: 2vh;
    outline:none;
    border-radius:10px;
    resize: none;
    height:5vh;
    background-color: #DDD;
    border: none;
}

.alert{
    outline-color:red;
}

#participants{
    background-color:#EEE;
    position:fixed;
    border-radius:10px;
    right:0px;
    top:0px;
    width:20vw;
    height:100vh;
}
#theme{
    color: #1a1a1a;
}